# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# NuGet
packages/

# Publish
publish/

# Test Results
TestResults/